:root {
  --foreground-color: #000000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.page-polls-details {
  color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-rgb: 43, 48, 70;
    --background-end-rgb: 47, 54, 150;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(175, 215, 227);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  position: relative; /* Added for positioning */
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
}

.poll-list-container {
  width: 60%;
}

.user-list-container {
  width: 40%;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
}

.border-r-2 {
  border-right: 2px solid rgb(0, 0, 0);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-group {
  width: 100%;
  max-width: 400px;
}

.manage-users-button {
  align-self: flex-end; /* Updated to align to the end (right) */
  margin-right: 0;
}

header {
  top: 0;
  left: 0;
  height: 60px;
  background: linear-gradient(to right, #b6d5fa, #93b5e4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 3%;
}

.logo img {
  filter: drop-shadow(0 0 1px #000000);
  margin-left: 10px;
  padding: 10px;
  height: 60px;
}

.header-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: space-between;
}

.header-item {
  margin-right: 100px;
  margin-left: 50px;
  flex-grow: 1;
}

.add-users-button {
  background-color: #2be073;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .add-users-button {
    background-color: #116fd3;
    color: white;
  }
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.add-user-submit {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  header {
    background: linear-gradient(to right, #1e1361, #2b3497);
  }

  header ul li {
    color: #ffffff;
  }
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

.container > main {
  flex-grow: 1;
}

.container ul li {
  position: relative;
}

.container ul li .remove-button {
  margin-right: 50px;
}

.container ul li .disable-button {
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgb(40, 40, 117);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
  }
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.container li:hover {
  color: #a8c5ff;
}

.container ul.mb-4 li {
  font-size: 1.25rem;
}

.container ul li::before {
  content: '➜ ';
  margin-right: 0.5rem;
}

.container ul li:last-child {
  margin-bottom: 0;
}

.container ul li:nth-child(odd) {
  color: #000000;
}

.container ul li:nth-child(even) {
  color: #1b4aa1;
}

@media (prefers-color-scheme: dark) {
  .container ul li:nth-child(odd) {
    color: #ffffff;
  }

  .container ul li:nth-child(even) {
    color: #ffffffc2;
  }

  .container div.chartjs-render-monitor {
    color: #ffffff;
  }

  .container ul li a {
    color: #ffffff;
    text-decoration: none;
  }
}

.mb-4 {
  margin-bottom: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 60%;
  margin: auto;
  margin-top: 10%;
  padding: 5rem;
  box-sizing: border-box;
  background-color: rgb(146, 241, 237);
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div {
  margin-bottom: 1rem;
}

.login-container label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-container input {
  padding: 0.5rem;
  width: 100%;
}

.login-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  .login-container {
    background-color: #053e7b;
  }

  .login-container h1,
  .login-container label {
    color: white;
  }
  .login-container input {
    background-color: #263859;
    color: white;
  }
  .login-container button {
    background-color: #0b78d4;
    color: white;
  }
}

/* poll list on index styling*/
.poll-list {
  display: grid;

  width: 100%; /* Make the poll list wider */
}

.poll-list h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.poll-list .poll-item {
  flex-grow: 1;
  flex-basis: autopx;
  width: 500px; /* Adjust the initial width as needed */
  display: flex;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid #000000; /* Border for each poll item */
  margin-bottom: 16px; /* Spacing between poll items */
}

@media (max-width: 1200px) {
  .poll-list .poll-item {
    width: 800px; /* Adjust the width for screens up to 1200px */
  }
}

@media (max-width: 900px) {
  .poll-list .poll-item {
    width: 600px; /* Adjust the width for screens up to 900px */
  }
}

@media (max-width: 600px) {
  .poll-list .poll-item {
    width: 400px; /* Adjust the width for screens up to 600px */
  }
}

@media (prefers-color-scheme: dark) {
  .poll-list .poll-item {
    border-color: white; /* Border color for dark mode */
  }
}

.poll-list .poll-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.poll-list .poll-username {
  font-size: 12px;
  margin-bottom: 8px; /* Spacing between username and poll title */
}

.poll-list .poll-title-link a{
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .poll-list .poll-title-link a{
    color: white;
  }
}

.poll-list .poll-datetime {
  font-size: 12px;
  color: #000000ab;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align start and end datetimes to the right */
}

@media (prefers-color-scheme: dark) {
  .poll-list .poll-datetime {
    color: rgba(240, 227, 227, 0.719);
  }
}

.poll-list .poll-datetime p {
  margin: 4px 0; /* Spacing between start datetime and end datetime */
}
