:root {
  --foreground-color: #000000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.page-polls-details {
  color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-rgb: 43, 48, 70;
    --background-end-rgb: 47, 54, 150;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(198, 198, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-group {
  width: 100%;
  max-width: 400px;
}

.manage-users-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
}

header {
  background-color: rgb(183, 222, 230);
  padding: 1rem;
  margin-bottom: 3%;
}

.header-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-item {
  margin-right: 50px;
  margin-left: 50px;
}

.add-users-button {
  background-color: #067c26;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.add-user-submit {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: rgb(37, 14, 77);
    padding: 1rem;
    margin-bottom: 3%;
  }

  header ul li {
    color: #ffffff;
  }
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

.container > main {
  flex-grow: 1;
}

.container ul li {
  position: relative;
}

.container ul li .remove-button {
  margin-right: 50px;

}

.container ul li .disable-button {

}

@media (prefers-color-scheme: dark) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: rgb(40, 40, 117);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: white;
    position: relative;
   
  }
}



.container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.container li:hover {
  color: #a8c5ff;
}

.container ul.mb-4 li {
  font-size: 1.25rem;
}

.container ul li::before {
  content: '➜ ';
  margin-right: 0.5rem;
}

.container ul li:last-child {
  margin-bottom: 0;
}

.container ul li:nth-child(odd) {
  color: #000000;
}

.container ul li:nth-child(even) {
  color: #1b4aa1;
}

@media (prefers-color-scheme: dark) {
  .container ul li:nth-child(odd) {
    color: #ffffff;
  }

  .container ul li:nth-child(even) {
    color: #ffffffc2;
  }

  .container div.chartjs-render-monitor {
    color: #ffffff;
  }

  .container ul li a {
    color: #ffffff;
    text-decoration: none;
  }
}

.mb-4 {
  margin-bottom: 30px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 60%;
  margin: auto;
  margin-top: 10%;
  padding: 5rem;
  box-sizing: border-box;
  background-color: rgb(146, 241, 237);
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div {
  margin-bottom: 1rem;
}

.login-container label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-container input {
  padding: 0.5rem;
  width: 100%;
}

.login-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  .login-container {
    background-color: #074e99;
  }

  .login-container h1,
  .login-container label {
    color: white;
  }
  .login-container input {
    background-color: #263859;
    color: white;
  }
  .login-container button {
    background-color: #0b78d4;
    color: white;
  }
}

